html, body, main {
    height: 100%;
}


section {
    display: flex;
    
}

.main_section {
    justify-content: space-evenly;
}

.inner_section {
    width: 250px;
}

#section_1 {
    flex-direction: column;
    justify-content: flex-start;
    
}

#section_2 {
    flex-direction: column;
    justify-content: space-around;;
}

#section_3 {
    justify-content: space-between;
}

#section_2 h3 {
    order:1
}

#section_2_first_div {
    order: 4;
}

#section_2_second_div {
    order: 2;
}

#section_2_third_div {
    order: 3;
}

#section_3 {
    flex-direction: column-reverse;
}


@media(max-width: 800px){
    .main_section {
        flex-direction: column;
        position: absolute;
        left: 40%
    }
}